@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: "Pixel";
  src: url("../assets/fonts/pixel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body {
  background: transparent !important;
  margin: 0;
  overflow: hidden;
}

.button-hover {
  position: relative;
  display: inline-block;
}

.button-hover::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  opacity: 0;
  scale: 0;
  border: 8px solid transparent;
  border-image: 
    url("../assets/borders/hover.png") 30% stretch;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.button-hover.active::after {
  opacity: 1 !important;
  scale: 1.8;
}

.no-hover * {
  pointer-events: none !important;
}

@layer components {
  
  * {
    font-family: "Pixel", sans-serif;
    margin: 0;
    padding: 0;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  /* #root {
    @apply max-h-screen flex flex-col relative gap-2
  } */
  
  .navbar {
    @apply w-full flex justify-evenly
  }
  
  .completed::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background: white;
    transform: translateY(-50%);
  }

  .input-border {
    @apply bg-[#8c7369]  text-[white];
    border: 15px solid transparent;
    border-image: url("../assets/input/wood.png") 25% stretch;
    background-clip: padding-box;
    image-rendering: pixelated;
  }
}